*{ 
	margin: 0; 
	padding: 0;
	font-family: 'Ubuntu', cursive;
}
body {
	background: rgba(55, 55, 55, 0.1);
}

/* Main Boxes */
.header_box {
	background-color: #55BBCA;
	position: relative;
}
.content_box {
	background-color: #FFFFFF;
}

/* CSS Main*/
#main {
	display: -webkit-flex;
	display:flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}
#main .header_box {
	flex: 1 6 10%;
	order: 1;
}
#main .content_box {
	flex: 1 1 90%;
	order: 2;
}

/* CSS Navegacion Header*/
#logo {
	padding: 10px 30px 10px 30px;
	float: left;
}
#logo img {
	height:45px;
	width:150px;
}
#nav_header {
	padding: 10px 30px 10px 30px;
	float: right;
}
#nav_header ul {
	list-style-type: none;
}
#nav_header li {
	display: inline;
	float: left;
}
#nav_header li a {
	padding: 10px 10px;
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
}
#nav_header a:hover{
	background-color: #61CED9;
}
#nav_header li a .selected{
	background-color: #61CED9;
}

/* CSS Navegacion Content*/
#nav_content {
	display: none;
}

/* CSS Article */
article {
	display: -webkit-flex;
	display:flex;
	flex-flow: row;
	height: 100%;
	width: 100%;
}
article .article_left {
	flex: 1 6 0%;
	order: 1;
}
article .article_right {
	flex: 1 1 100%;
	order: 2;
}
article header {
	background: rgba(190, 210, 220, 0.9);
	font-size: 30px;
	color: #FFFFFF;
	padding: 5px;
}

/* Form Quiz Search */
.form_quiz_search {
	text-align: right;
}
.form_quiz_search input{
	padding: 0px 5px 0px 5px;
	width: 100px;
	height: 26px;
	font-size: 15px;
	border: solid 2px #BED2DC;
	color: #000000;
}
.search {
	border: solid 2px #BED2DC;
	color: #FFFFFF;
	background: url(../images/search.png) no-repeat #61CED9;
	background-size: 100% 100%;
	height: 30px;
	width: 30px;
	margin-left:1px;
	float:right;
}
.search:hover {
	background: url(../images/search.png) no-repeat #55BBCA;
	background-size: 100% 100%;
}

/* Form Quiz cmd */
.form_quiz_cmd {
	width: 50%;
}
.form_quiz_cmd input{
	width: 100%;
	margin: 10px 0px 0px 10px;
}
.form_quiz_cmd button{
	width: 80px;
	margin: 10px 0px 0px 10px;
}

/* CSS Section */
article section {
	padding: 10px 10px 5px 20px;
}
section .link_question {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
section .link_question a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 4em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}
section.link_question a:hover{
    background: #eee;
}
section .link_question a:hover:before{
    transform: rotate(360deg);  
}
section .link_question a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -0.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

/* CSS Footer */
footer {
	background: rgba(50, 50, 50, 0.5);
	font-size: 15px;
	color: #FFFFFF;
	padding: 10px 30px 10px 30px;
}
footer p{
	text-decoration: none;
	color: #FFFFFF;
	display: inline;
}
footer a{
	text-decoration: none;
	color: #FFFFFF;
}

footer a:hover{
	text-decoration: none;
	color: #55BBCA;
}

/* CSS Article General */
article p {
	padding:10px;
}

/* CSS General */
.link_back {
	position: relative;
    display: block;
    padding: 10px;
    margin: 5px 0px;
    background: #DDDDDD;
    color: #444444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;  
}
.link_back:hover {
	color: #87ceeb;
}

form {
	padding: 5px 15px 5px 15px;
}
button {
	border: solid 2px #BED2DC;
	color: #FFFFFF;
	font-size: 15px;
	background: #61CED9;
	padding: 5px 15px 5px 15px;
}
button:hover {
	background: #55BBCA;
	text-decoration: none;
}

input{
	padding: 5px 15px 5px 15px;
	width: 250px;
	font-size: 15px;
	border: solid 2px #BED2DC;
	color: #000000;
}
input:focus {
	outline: none !important;
	border: solid 2px #55BBCA;
	color: #000000;
}

video {
	border: solid 1px #55BBCA;
	box-shadow: 5px 5px 5px black;
}

/* CSS author */
.author {
	display: -webkit-flex;
	display:flex;
	flex-flow: row;
}
.author img {
	border: solid 1px #55BBCA;
	height: 100px;
	width: 100px;
	border-radius: 25px;
}
.author_desc {
	padding: 10px;
}

/* Div Errores */
#ErrorMsgs {
	border: 1px solid;
	margin: 10px 25px;
	padding: 10px 15px 10px 70px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../images/error.png);
	display: inline-block;
}
