<input type="text" id="preg" name="quiz[pregunta]" placeholder="Escriba la pregunta" value="<%= quiz.pregunta %>"/>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Escriba la respuesta" value="<%= quiz.respuesta %>"/>
<button type="submit"/>Enviar</button>
<a href="/quizes"><button type="submit"/>Cancelar</button></a>

