<input type="text" id="preg" required="required" name="quiz[pregunta]" placeholder="Escriba la pregunta" value="<%= quiz.pregunta %>"/>
<input type="text" id="resp" required="required" name="quiz[respuesta]" placeholder="Escriba la respuesta>" value="<%= quiz.respuesta %>"/>
<button type="submit"/>Enviar</button>
<button type="submit"/>Cancelar</button>
