<header>Preguntas</header>
<section>
	<h1>Añadir nueva pregunta a Quiz</h1>

	<% if (errors.length) { %>
		<div id="ErrorMsgs">
			<ul>
			<% for (var i in errors) {%>
				<li> <%= errors[i].message %> </li>
			<% } %>
			</ul>
		</div>
	<% } %>
	<form class="form_quiz_cmd" method="post" action="/quizes/create">
		<% include _form_quiz.ejs %>
	</form>
</section>