<header>Preguntas</header>
<section>
	<h1><%= pregunta %></h1>
	<form method="get" action="/quizes/answer">
		<input type="text" name="respuesta" hint="Responda aquí"/>
		<button type="submit"/>Enviar</button>
	</form>
</section>
