<header>Login</header>
<section>
	<form class="form_quiz_cmd" method="post" action="/login">
		<input type="text" id="login" name="login" placeholder="Nombre de Usuario"/>
		<input type="password" id="password" name="password" placeholder="Contraseña"/>
		<div>
			<button type="submit"/>Login</button>
		</div>
	</form>
</section>